body {
  background: #fafafa;
  color: #333;
}

.container {
  background: white;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
  margin: 80px auto;
  max-width: 960px;
  width: 90%;
}

.error {
  color: #bf4040;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

button {
  background: #757575;
  border: 0;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
}
